.header{
    &__info{
        background-color: var(--main-color);
        font-weight: 400;
        font-size: 14px;
        padding: 8px 0;
    }
    &__list{
        li{
            svg{
                margin-right: 2px;
                vertical-align: -12%;
            }
            a:link,
            a:visited{ 
                color: var(--white-color);
                transition: all .2s;
                &:hover{
                    border-bottom: 2px solid var(--white-color);
                }
            }
            a:link,
            :visited:not(:last-child){
                margin-right: 10px;
            }
            &:not(:last-child){
                border-right: 1px solid  var(--white-color);
                margin-right: 10px;
            }
        }        
    }
    @media screen and (max-width: 992px){
        &__list{
            font-size: 12px;
        }
        &__list li:not(:last-child){
            margin-bottom: .5rem;
                margin-right: 5px;
        } 
    }
    @media screen and (max-width: 576px){
        &__list{
            font-size: 9px;
            li{
                margin-right: 0;
            }
        }
        &__list li:not(:last-child){
                margin-right: -8px;
                border-right:0
        } 
    }
    &__logo{
       border-bottom: 1px solid grey; 
       @media screen and (max-width: 768px){
        .navbar{
            width: 100%;
    }}
    }
    &__search{
        position: relative;
        &-input{
            padding-left: 2.5rem;
            &::placeholder{
                color: var(--light-gray-color);
                font-size: 12px;
            }
            &:focus{
                border-color: var(--main-color);
                box-shadow: 0 0 0 0.06rem var(--main-color);
            }
        }
        &-btn{
            position: absolute;
            top:-5px;
            left:0
        }
    }
    @media screen and (max-width: 768px){
        &__search{
            width: 100%;}
    }
    &__log{
        & li{
            display: flex;
            align-items: center;
            &:not(:last-child){
                border-right: 1px solid  var(--light-gray-color);
                padding-right: 10px;
            }
        }
        & li:not(:last-child){
            margin-right: 10px;
        }
        & li svg{
            margin-right: 3px;
        }
        & li a{
            color: var(--normal-gray-color);
            font-size: 16px;
            &:hover{
                color: var(--main-color);
            }
        }
        @media screen and (max-width: 576px){
            & li:not(:last-child){
                margin-right: 2px;
                padding-right: 5px;
                border-right: 0px;
            }
            & li a{
                font-size: 12px; 
            }
        }
    }
}