@keyframes navBaranimatiob{
    0%{
        display: none;
        transform: translateY(-40px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        display: block;
    }

}