.header{
        text-transform: uppercase;
        &__nav{
            position: relative;
            z-index: 111;
        }
        &__sidebar{
            display: none;
        }
        ul li a{
            color: var(--bold-gray-color);
        }
        ul li a.active,
        ul li a:hover{
            color: var(--main-color);
        }
        &__navbar{
            transform: translateX(-100%);
            transition: all .2s;
        }
        @media screen and (max-width: 576px){
            &__sidebar{
                display: block;
                cursor: pointer;
            }
        }
        @media screen and (min-width: 576px){
            &__navbar{
                display: flex;
                justify-content: center;
                line-height: 3.1;
                transform: translateX(0%);
            }
            &__item{
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
            &__item a{
                font-size: 18px;
            display: block;
            }
        }
        @media screen and (min-width: 991px){
            &__item{
                &:not(:last-child){
                    margin-right: 40px;
                }
            }
        }
        &__navbar.active{
            position: absolute;
            background-color: var(--white-color);
            z-index: 1;
            top: 0;
            width: 250px;
            transform: translateX(-5%);
        }
        &__navbar.active li{
            margin-bottom: 15px;
        }
        &__navbar.active > &__item > a{
            font-size: 20px;
            margin-left: 15px;
        }
        &__navbar.active li.close{
            display: block;
        }

        &__item.hair{position: relative;}
        &__navbar li.close{
            display: none;
        }
        &__item.hair:hover &__dropmenue-one{
            display: block;
        }
        &__dropmenue{
            position: absolute;
            background-color: var(--white-color);
            border: 1px solid var(--light-gray-color);
            display: none;
        }
        &__dropmenue > li{
            font-size: 15px;
            padding: 10px 20px;
        }
        &__dropmenue > li > a{
            font-size: 15px;
        }
        &__dropmenue-one{
            width: 200px;
            top: 38px;
            left: -5px;
        }
        &__dropmenue-one &__item-one{
            margin-bottom: -20px;
            position: relative;
        }
        &__item.hair .arrdown svg {
            display: none;
        }
        &__dropmenue-two{
            left: 100%;
            top: 0px;
            width: 300px;
        }
       &__item-one:hover > &__dropmenue-two{
            display: block;
        }
        &__navbar.active &__dropmenue-two  &__item-two > .dropdown-item{
            margin-left: 0; 
        }
        @media screen and (max-width: 576px) { 
            &__item.hair .arrdown{
                float: right;
                margin-right: 15px;
            }
            &__item.hair .arrdown svg {
                display: inline-block;
                width: 20px;
                vertical-align: sub;
                cursor: pointer;
                transform: rotate(-90deg);
            }
            &__dropmenue-one.active  &__item-one{
                margin-bottom: -15px;
            }
            &__dropmenue-one.active  &__item-one > a{
                padding: 5px 10px;
                margin-left: 0; 
            }
            &__dropmenue{
                transition: all .2s;
                transform: translateX(-100%);
            }
            &__dropmenue.active{
                display: block;
                transform: translateX(0%);
                width: 255px;
            }
            &__dropmenue.active > li{
                padding: 1rem;
            }
            &__dropmenue.active > li > a{
                padding: 1rem;
                font-size: 14px;
            }
            &__dropmenue-two{
                left: 0;
                top: 40px;
                z-index: 1;
            }

        }
}