.header{
        text-transform: uppercase;
        & .nav{
            padding: 10px 0;
        }
        & .nav-item a{
            padding: 0;
            margin-right: 50px;
            color: var(--bold-gray-color);
            font-size: 18px;
        }
        & .dropdown-menu{
            width: fit-content;
            display: none;
            transform: translateY(-40px);
            opacity: 0;
            transition: all .3s;
        }
        & .dropdown-menu.active{
            display: block;
            transform: translateY(0px);
            opacity: 1;
        }
        & .nav-item.drop {
            padding: 10px 0 0 10px;
            & .nav-link{
                margin: 0;
                margin-bottom: 10px;
                font-size: 16px;
                cursor: pointer;
            }
            & .dropdown-menu-product{
                padding: 10px;
                display: none;
                position: absolute;
                background: white;
                border: 1px solid var(--light-gray-color);
                border-radius: 3px;
                li{
                    &:not(:last-child){
                        margin-bottom: 10px;  
                    }
                    a{
                        font-size: inherit;
                    }
                }
            }
            & .dropdown-menu-product.active{
                display: block;
            }
            & .shampoo{
                right: -16.7rem;
                top: -.5rem;
            }
            & .conditioner{
                right: -16.7rem;
                top: 2.5rem;
            }
            & .mask{
                right: -7.4rem;
                top: 4.5rem;
            }
            & .oil{
                right: -7.4rem;
                top: 7.5rem;
            }
            & .hStyling{
                right: -11.9rem;
                top: 9.5rem;
            }
            .treatment{
                right: -12.5rem;
                top: 13.5rem
            }
            @media screen and (max-width: 990px){
                & .shampoo{
                    right: -16.8rem;
                    top: -0.5rem;
                }
                & .conditioner{
                    right: -16.8rem;
                }
                & .mask{
                    right: -7.4rem;
                }
                & .oil{
                    top: 7.2rem;
                }
                & .hStyling{
                    top: 9.2rem;
                }
                .treatment{
                    top: 13.8rem;
                }
            }
            @media screen and (max-width: 768px){
                & .shampoo{
                    right: -14.9rem;
                }
                & .conditioner{
                    right: -14.9rem;
                }
                & .mask{
                    right: -5.6rem;
                }
                & .oil{
                    top: 7.2rem;
                    right: -5.6rem;
                }
                & .hStyling{
                    top: 9.5rem;
                    right: -10.1rem;
                }
                .treatment{
                    top: 13.8rem;
                    right: -10.6rem;
                }
            }
        }
        & .navbar-nav{
            .nav-link.active,
            & .nav-item a:hover
            {
                color: var(--main-color);
            }
        }
        @media screen and (max-width: 768px){
            & .nav-item a{
                margin-right: 20px;
                font-size: 13px;
            }
        }
}

.dropdown-toggle::after {
    display: none;
}
