.items__heading{
    &-main{
        font-size: 3rem;
        color: var(--light-black-color);
        text-transform: capitalize;
        @include displayFlex;
        position: relative;
        width: fit-content;
        margin: auto auto;
    }
    @media screen and (max-width: 992px){
        &-main{
            font-size: 2rem;
        }
    }
    @media screen and (max-width: 576px){
        &-main{
            font-size: 1.3rem;
        }
    }
    &-main::before,&-main::after{
        position: absolute;
        content: "";
        top:50%;
        transform: translate(-27%,-50%);
        background-color: var(--main-color);
        width: 30px;
        height: 3px;
    }
    &-main::before{
        left: -8%;
    }
    &-main::after{
        right: -11%;
    }
    &-line{
        width: 60px;
        height: 3px;
        background-color: var(--main-color);
        display: inline-block;
        margin: 0 10px;
    }
}