.faq{
    margin-top: 1rem;
    &__content{
        margin-bottom: 2rem;
        h3{
            font-size: 1.5rem;
        }
        ul{
            list-style: disc;
            li{
                margin-left: 1rem;
                font-family: ui-sans-serif;
            }
        }
        }
    }
