
.accordion-button,.accordion-button:not(.collapsed){
    font-size: 1.5rem;
    box-shadow: none;
    border:none;
    background-color: transparent;
}
.accordion-button:focus{
    border-color: none;
    box-shadow: none;
}
.accordion-body{
ul{
    li{
        margin-left: 1rem;
        font-family: ui-sans-serif;
    }
}
}